@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/EnglishFont/Graphico-Black.otf');
}
@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/EnglishFont/Graphico-Bold.otf');
}
@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/EnglishFont/Graphico-SemiBold.otf');
}
@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/EnglishFont/Graphico-Medium.otf');
}
@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/EnglishFont/Graphico-Light.otf');
}
@font-face {
  font-family: Graphico;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/EnglishFont/Graphico-Regular.otf');
}
